body {
  min-height: 100%;
  padding: 0 0 40px 0;
  margin: 0 auto;
  font-family: sans-serif;
  background: url(
    '../img/swirl_pattern.png'
  ) center repeat;
  /*
    upfeathers
    swirl_pattern
    stardust
    foggy_birds
  */
}


.justify-box {
  text-align: justify;

  &:after {
    width: 100%;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    content: '';
    display: inline-block;
  }
}
