// main: style.less

// Variable
@image-way: '../img';
// @card-width: 290px;
// @card-width: calc(50% - 5px);

@mobileMin: 560px;
@tabletMax: 660px;
@tabletMin: 661px;
@desktopMax: 998px;
@desktopMin: 999px;

// Color
@por-white: #ffffff;
@por-red: #f44336;
@por-yellow: #fdd835;
// @por-green: #7cb342;
@por-green: #53bf6b;
@por-black: #000000;
@por-text-gray: #666;
@por-gray: #d7d7d7;
